:root{
  --lettertype: 'Carlito', Calibri, sans-serif;
  --kleur: rgb(61, 90, 45);
  --kleurstreep: rgb(82, 127, 58);
  --achtergrondkleur: rgb(247, 247, 247);
  overflow-x: hidden;
}

*{  
  background-color: var(--achtergrondkleur);  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    border-bottom: solid 1.8rem var(--kleurstreep);
    margin-bottom: 1.5rem;
    /* top: 0; */
    /* width: 100%; */
    box-shadow: 0px 5px 20px #999;
    z-index: 2;
    display: flex;
     /*flexbox maken om navigatie en klein logo naast elkaar te krijgen, bij mediaquery terug block maken vanaf ham menu weg*/ 
     position: relative; /* Om zijmenu absoluut te positioneren tov header ipv volledige pagina, anders beweegt zijmenu mee bij scrollen */
}

/* menu+logo*/
nav ul{
  list-style: none;
  background: transparent;
}
ul.menu li{
  margin: 0 0.5rem;
}
nav li a{
color: var(--kleur);
font-size: 1.2rem;
}
div#logo{
  padding-top: 0.8rem;
}
.grootlogo{display: none;}

a{
  text-decoration: none;
  background-color: transparent;
}
/* menu+logo einde*/


/*html{} niet weglaten - beide moeten voor menu*/

body{
  max-width: 100em;
  margin: 0px auto;   /*0 verticaal top bottom, horizontaal links rechts auto = gecentreerd/gelijke margin binnen container */
  font-family: var(--lettertype);
  font-size: 1.3rem;
  color: var(--kleur);
  overflow-x: hidden; /* zodat zijmenu niet zichtbaar kan worden als niet actief , bijvoorbeeld als scherm GSM roteren staand-liggend - zowel htlm als body moeten getarged worden anders werkt het niet*/
}

main{
  padding: 1em;
  margin: 0px auto;
}

h1{
  margin-bottom: 1rem;
  font-size: 2rem;
}
h2{
  margin-bottom: 1.1rem;
  font-size: 1.7rem;
}

h3{
  font-size: 1.5rem;
}

figcaption{
  font-size: 1.2rem;
}
p.bronvermelding{font-size: 0.9rem;}

p{
  margin-bottom: 1.1rem;
}

figure{
  margin-bottom: 1rem;
}

img{
  max-width: 100%; /*RWD afbeeldingen blijven in scherm bij verkleinen scherm*/
  height: auto;    /*laten staan voor verhouding h-b te behouden bij max width 100%*/
}

iframe{
  max-width: 100%;
}

footer{
  background-color: var(--kleurstreep);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

footer p{
  background-color: var(--kleurstreep);
  color: var(--achtergrondkleur);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0;
}

.onderlijn{
  border-bottom: dotted 3px var(--kleur);
    margin-bottom: 1.2em;
    padding-bottom: 0.5em;
}


/*grid home*/
main#home{
  display: grid;
  gap: 1.3rem;
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four'
  'five'
  ;
}

#intro{
  grid-area: one;
}

#olijfolie{
  grid-area: two;
  background-image: url("img/homeolijfolie.jpg");
  text-align: left;
  flex-direction: column;
  padding-bottom: 0.7rem;
}

#proces{
  grid-area: three;
  background-image: url("img/proces1.jpg");
  text-align: right;
  flex-direction: row;
 padding-bottom: 0.7rem;
}

#wij{
  grid-area: four;
  background-image: url("img/w_ij.jpg");
  text-align: left;
  flex-direction:column;
 padding-bottom: 0.7rem;
}

#fincas{
grid-area: five;
background-image: url("img/fincas1.jpg");    
text-align: right;
flex-direction: column;
padding-bottom: 0.1rem;
}

a#olijfolie, a#proces, a#fincas, a#wij {
  background-color: var(--kleur);
  padding: 1.2rem;
  border: 5px solid rgb(157, 193, 131); 
  color: var(--achtergrondkleur);
  text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.6); 
  font-size: 2rem;

  background-size: cover;
  background-position: center;
  display: flex;               /*om letters op juiste plaats te krijgen in combi met flex direction per blok en justify content*/
  justify-content: flex-end;
  min-height: 7em;             /*behouden, anders worden foto's te klein op kleine schermen*/
  position: relative;   /* tov pseudo element hiernoder, voor groene achtergrond bij hover anders hele achtergrond groen, nu enkel deze blok gekleurd bij hover*/
  z-index: 0;
} 

/*Homepage elke gridbox zijn eigen hover doorzichtig groene overlay hieronder*/

#olijfolie::before, #proces::before, #wij::before, #fincas::before {
  content: '';  /* maakt het pseudo-element zichtbaar, maar verschijnt nog niet door opacity 0 */
  position: absolute;  /* Plaatst de overlay bovenop de achtergrond + zelfde positie als blok olijfolie  (hieronder; 0000) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 126, 0, 0.3);  
  opacity: 0;  /* Start met geen zichtbare overlay */
}

#olijfolie:hover::before, #proces:hover::before, #wij:hover::before, #fincas:hover::before {
  opacity: 1;  /* Maak de overlay zichtbaar bij hover */
  transition: opacity 0.4s ease; 
}
/*einde groene hover*/


/*grid wij en de omgeving tweede deel*/
div#deel2{
display: grid;
  gap: 1.3rem;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four';
}
div#inleiding{grid-area: one;}
div#maestrazgo{grid-area: two;}
div#lasplanas{grid-area: three;}
figure#santolea{grid-area: four;}


/*Grid Finca's*/
main#finca{
  display: grid;
  gap: 1.3rem;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  'five';
}
div#fincauno{grid-area: one;}
div#cementerio{grid-area: two;}
div#loscampillos{grid-area: three;}
div#perogil{grid-area: four;}
div#caseta{grid-area: five;}


/*Grid main Tijdlijn*/

figure.tijdslijnliggend img{
  display: none;
}

figure.tijdslijn img{
  height: 100%;
  width: 100%; /* om pijlen in verhouding even groot en breed te houden in elke schermgrootte */
  object-fit: fill;
}

main#productieproces{
  display: grid;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  'five'
  'six';
}
  div#voorste{grid-area: one;}
  div#feb-maart{grid-area: two;}
  div#apr-juni{grid-area: three;}
  div#juli-sept{grid-area: four;}
  div#okt{grid-area: five;}
  div#nov-dec{grid-area: six;}

/*GRid per tijdslijnblok*/

div#feb-maart, div#apr-juni, div#juli-sept, div#okt, div#nov-dec{
  display: grid;
  column-gap: 0.5rem;
  grid-template-areas:
  'nul two'
  'nul three'
  'nul four';
  grid-template-columns: 1fr 10fr;
}
/*feb-maart*/

figure#pijl1{grid-area: nul;}
figure#pijl1lig{grid-area: one;}
h2#febru-maart{grid-area: two;}
p#snoei{grid-area: three;}
figure#fotosnoei{grid-area: four;}

/*april-juni*/

figure#pijl2{grid-area: nul;}
figure#pijl2lig{grid-area: one;}
h2#april-mei-juni{grid-area: two;}
p#bemesting{grid-area: three;}
figure#fotobloesem{grid-area: four;}

/*juli-sept*/

figure#pijl3{grid-area: nul;}
figure#pijl3lig{grid-area: one;}
h2#jul-sept{grid-area: two;}
p#groeneolijf{grid-area: three;}
figure#fotogroeneolijf{grid-area: four;}

/*oktober*/

figure#pijl4{grid-area: nul;}
figure#pijl4lig{grid-area: one;}
h2#okto{grid-area: two;}
p#opleggen{grid-area: three;}
figure#fotoopleggen{grid-area: four;}

/*nov-dec*/

figure#pijl5{grid-area: nul;}
figure#pijl5lig{grid-area: one;}
h2#novem-decem{grid-area: two;}
div#oogsten{grid-area: three;}
div#persen{grid-area: four;}


/*nav lijntjes*/
header nav li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #FFC000;
  display: block;
  transition: 0.2s;
  margin-top: 2px;
}

nav ul li:hover::after{
  width: 100%;
}
nav ul li:active::after{
  background: rgb(237, 125, 49);
}

/*class current is actieve pagina > streepje width blijft staan> 100%*/
li.current::after{
  width: 100%;
}
/*einde nav lijntjes*/

 /*Ham-cross menu, bronnen: https://github.com/treehouse/ham-menu en https://codepen.io/james2doyle/pen/edNoPe*/

.hammenu{
  height: 3rem;
  width: 3rem;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: auto; /*zodat naar onder in header zakt naast klein logo */
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.hammenu span{
  height: 0.4rem;
  width: 100%;
  background-color: #FFC000;
  border-radius: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.hammenu span:nth-child(1) {
  top: 25%;
} /* streep omhoog*/

.hammenu span:nth-child(3) {
  top: 75%;
}
.hammenu.active span {
  background-color: rgb(237, 125, 49);
}
.hammenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hammenu.active span:nth-child(2) {
  opacity: 0;
}
.hammenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

ul.menu{
  display: none;
}

nav.zijmenu{
  width: 13rem;
  max-width: 450px;
  position: absolute; /*om in header te blijven staan, ook bij scrollen*/
  right: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  transition: .3s ease;
  bottom: auto;
  top: 1rem;
  z-index: 11;
  border: 5px solid rgb(157, 193, 131);
}
.zijmenu.active {
  right: 4.5rem;
}

nav.zijmenu > ul > li{
  margin: 1rem 0.7rem;
}


/*RWD*/
/* Small devices (565px and up) */
@media (min-width: 565px) { 

  body{font-size: 1.4rem;}

/*liggend logo*/
  header img.kleinlogo{
    display: none;
    }
  header img.grootlogo{
    display: block;
    width: 32rem;
    height: 6rem;
    }
  .zijmenu.active{
    right: 2.5rem;
    top: 8rem;
    }  
    
main#home{
  grid-template-areas: 
  'one one'
  'two three'
  'four four'
  'five five';
  }

div#feb-maart,
div#apr-juni,
div#juli-sept,
div#okt,
div#nov-dec {
  grid-template-columns: 1fr 18fr;
  column-gap: 1rem;
}
}

/* Medium devices (landscape tablets, 700px and up) */
@media (min-width: 700px) {
header{
  display: block;
}
.hammenu, nav.zijmenu{
  display: none;
  }

ul.menu{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem;
}

main#home{
  grid-template-areas: 
  'one two'
  'one three'
  'four four'
  'five five';
  grid-template-rows: 1fr 2fr 1fr 1.2fr;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    
  h1{font-size: 2.4rem;}
  h2{font-size: 1.8rem;}  
  h3{font-size: 1.6rem;}
  main>div>p, main>article>p{font-size: 1.5rem;}

  main#home{
  grid-template-rows: 1fr 1.5fr 1fr 1.4fr;
  }

  main article{
    column-count: 2;
    column-width: auto;
    column-gap: 1.5rem;
  }

/*grid wij en de omgeving deel 2*/
div#deel2{
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'one one'
  'two three'
  'four four';
}
/*Grid finca's*/
main#finca{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'one two'
    'three four'
    'five five'
}

figure.tijdslijn img{
  display: none;
}
figure.tijdslijnliggend img{
  display: block;
}
/* Grid Productieproces */
main#productieproces{
  column-gap: 0.8rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'one one'
  'two three'
  'four five'
  'six six'
  ;
  align-items: start; /*bij alle grid blokken inhoud naar boven, anders veel witruimte tussen tekst en fotos*/
}

/*Grid tijdlijn*/

div#feb-maart,
div#apr-juni,
div#juli-sept,
div#okt{
  grid-template-columns: 1fr;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four';
}

div#nov-dec{
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'one one'
  'two two'
  'three four'
  ;
  }
  div#persen{
    margin-left: 0.8rem;
  } /* want div#nov-dec neemt 2 kolommen in dus column-gap 0.8rem in de main#productieproces erboven nabootsen met marign left*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

    main#home{
    grid-template-areas:  
    'two one one'
    'four four three'
    'five five five'
    ;
    grid-template-rows: 0.8fr 0.8fr 1.1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  main, nav, div#logo{
    max-width: 50em;
    margin: 0 auto;
    }  /*grote schermen tekst breedte beperken, body blijft maxwidth 100em, groene lijn blijft zo maar rest beperkt*/


  main article{
    column-count: 3;
}
}

